extends layout/main.pug
include ../blocks/breadcrumb/breadcrumb
include ../blocks/sliders/sliders
include ../blocks/mixins/_mixins
include ../blocks/advertising/advertising


block title
  title Гланая

block pagecontent
  +breadcrumb("Поиск", "Главная")
  +b.page-name
    .container
      +e.H2 Результаты поиска
  +b.search
    .container
      +catalogHederNav()
      +catalogItems('2')
  +brendsSlider()
  +advertisingNoBg('реклама')

