extends layout/main.pug
include ../blocks/breadcrumb/breadcrumb
include ../blocks/sliders/sliders
include ../blocks/mixins/_mixins
include ../blocks/news/news
include ../blocks/advertising/advertising
include ../blocks/news-page/news-page



block title
  title Гланая

block pagecontent
  +breadcrumb("Мицеллярная вода – свежесть и чистота одним движением!", "BDC news", "Главная")
  +b.news-page
    <hr/>
    .container
      +e.head
        +e.date.text-secondary 17 августа 2019
        +e.H1.title Мицеллярная вода – свежесть и чистота одним движением!
    <hr/>
    .container
      +banner('news/banner.jpg')
      h2 Мицеллярная вода – свежесть и чистота одним движением!
      p В чем секрет здоровой и привлекательной кожи ведущих представительниц мира моды?
      p Загляните внутрь косметических шкафчиков знаменитостей, моделей и визажистов (а также всех счастливых обладателей безупречной кожи), и вы с большой вероятностью обнаружите там бутылочку или флакончик с мицеллярной водой.
      p Будучи популярной во Франции в 1900-х годах, сейчас она вновь быстро набирает популярность во всем мире за свою способность снимать макияж, очищать кожу и выравнивать тон с помощью всего лишь пары ватных дисков. Стоит ли говорить, что тенденция производства «волшебной» воды была сразу же подхвачена всеми крупными брендами красоты.
      h2 Мицеллярная вода. Что это?
      p Мицеллярная вода представляет собой специальное средство, предназначенное для очищения кожи, и на первый взгляд напоминает обычную воду (как правило, мицеллярная вода не имеет цвета и запаха).
      p Использование мицеллярной воды является важным этапом очищения кожных покровов. Она позволяет снять макияж с кожи лица, удалить загрязнения и сохранить, при этом, в норме уровень кислотно-щелочного баланса кожи.
      h2 Мицеллярная вода. Состав
      p Основу мицеллярной воды составляют вода с низкой концентрацией ионов магния и кальция и мягкие поверхностно-активные вещества, которые, группируясь вместе, образуют микроскопические сферы, называемые мицеллами.
      p Мицеллы обладают рядом важных свойств, которые и делают их основным компонентом мицеллярной воды:
        | «связывают» и удаляют мельчайшие частицы кожного жира;
        br
        | действуют как магниты для мельчайших частиц грязи;
        br
        | ослабляют действие раздражающих компонентов, которые содержатся в очищающих средствах;
        br
        | деактивируют вредные химические вещества, попадающие на кожу из окружающий среды и некоторых косметических средств.
      p Часто производители дополняют состав мицеллярной воды различными вспомогательными компонентами — минералами, экстрактами растений. Это позволяет увеличить эффект от использования средства. Так, например, экстракт лепестков галльской розы обладает свойствами снимать раздражение и смягчать кожу, а цинк обладает свойствами, способными уменьшать выделения кожного жира из сальных желез.
      h2 Для чего нужна мицеллярная вода
      p Мицеллярная вода содержит водо- и жирорастворимые компоненты, которые позволяют деликатно очистить кожу даже от самого стойкого водонепроницаемого макияжа, сохранив при этом в норме PH-баланс кожи.
      p В процессе протирания кожи лица и шеи ватным диском, пропитанным очищающим средством, мицеллы прилипают к хлопку, «вытягивая» за собой частицы косметических средств, кожное сало и другие ежедневные загрязнения с поверхности кожи.
      p
        strong Совет:
      p
        strong Чтобы повысить эффект от использования средства, используйте замороженную мицеллярную воду: разлейте содержимое флакона по небольшим формочкам (например, в контейнер для заморозки льда), уберите в морозильную камеру, и спустя несколько часов ледяные кубики будут готовы.
      ul
        li Протирайте ими кожу утром, чтобы избавиться от темных кругов под глазами и снять припухлость на лице
        li А также днем, чтобы взбодрить и освежить кожу.
        li В жаркий летний период замороженные мицеллярные кубики будут особенно актуальны.
  <hr/>
  .container
    h2 Другие новости
    .row
      +newsList(4)
  +advertisingNoBg('Реклама')
  +brendsSliderTitle('Популярные бренды')




