extends layout/main.pug
include ../blocks/breadcrumb/breadcrumb
include ../blocks/sliders/sliders
include ../blocks/mixins/_mixins
include ../blocks/discount-page/discount-page



block title
  title Гланая

block pagecontent
  +breadcrumb("BDC news", "Система скидок")
  +b.page-name
    .container
      +e.H2 Система скидок
  HR/
  +discount-page()


