extends layout/main.pug
include ../blocks/breadcrumb/breadcrumb
include ../blocks/sliders/sliders
include ../blocks/mixins/_mixins
include ../blocks/news/news
include ../blocks/wholesale/wholesale




block title
	title Гланая

block pagecontent
	+breadcrumb("BDC news", "Главная")
	+b.page-name
		.container
			+e.H2 ОПТовым покупателям
	hr/
	+wholesale()

