extends layout/main.pug
include ../blocks/breadcrumb/breadcrumb
include ../blocks/sliders/sliders
include ../blocks/mixins/_mixins
include ../blocks/advertising/advertising
include ../blocks/aside-filters/aside-filters


block title
  title Гланая

block pagecontent
  +breadcrumb("Каталог", "Главная")
  +b.page-name
    .container
      +e.H2 Каталог Новинки
  +b.catalog
    .container
      .row
        .col-12.col-md-3
          aside.aside
            form.smartfilter
              +aside-filters()
        .col-12.col-md-9
          +bigSlider()
          +brendsSlider()
          +catalogHederNav()
          +catalogItems('1')
          +banner()
          +catalogItems('1')
          +banner2()
          +catalogItems('2')
          +catalogFooterNav()

  +advertising('реклама')

