extends layout/main-cat-down.pug
include ../blocks/sliders/sliders
include ../blocks/advertising/advertising
include ../blocks/comp-info/comp-info
include ../blocks/instagram/instagram
include ../blocks/mixin-popup/mixin-popup


block title
  title Гланая

block pagecontent
  .main-page
    +cookies()
    .container
      +bigSlider()
      +bannerHead()
    .container
      +banner4()
    +saleSlider()
    .container
      +banner2()
    +advertisingNoBg('Популярные товары')
    .container
      +banner3()
      +bigSlider()
    +advertisingNoBg('Товары со скидкой')

    +brendsSliderTitle('Популярные бренды сегодня')
    .container
      +banner3()
      .row
        +advertisingNoBg('Новинки')
        +comp-info()
    +instagram-block()



