extends layout/main.pug
include ../blocks/sliders/sliders
include ../blocks/advertising/advertising
include ../blocks/comp-info/comp-info
include ../blocks/instagram/instagram


block title
  title Гланая

block pagecontent
  .main-page
    .container
      +bigSlider()
      +bannerHead()
    +b.cooces
      .container
        +e.P.message Мы используем файлы cookie и сбор персональных данных, чтобы предоставить вам лучший пользовательский сервис и показывать вам индивидуальные предложения на нашем сайте. Продолжая просматривать наш веб-сайт, вы соглашаетесь c использованием cookie и обработкой персональных данных.
          +e.A.link(href='#') Узнать больше
        +e.BUTTON.btn.btn-cloce
    .container
      +banner4()
    +saleSlider()
    .container
      +banner2()
    +advertisingNoBg('Популярные товары')
    .container
      +banner3()
      +bigSlider()
    +advertisingNoBg('Товары со скидкой')

    +brendsSliderTitle('Популярные бренды сегодня')
    .container
      +banner3()
      .row
        +advertisingNoBg('Новинки')
        +comp-info()
    +instagram-block()



