extends layout/main.pug
include ../blocks/breadcrumb/breadcrumb
include ../blocks/sliders/sliders
include ../blocks/mixins/_mixins
include ../blocks/advertising/advertising
include ../blocks/product-head/product-head
include ../blocks/product-body/product-body
include ../blocks/product-footer/product-footer



block title
	title Гланая

block pagecontent
	+breadcrumb(' Matrix Biolage Hydrasource Kit - Набор: шампунь и кондиционер, 2х250 мл', 'Главная', 'Бренды', 'Laura Rosse', 'Laura Rosse - Уход за волосами')
	+product-head()
	p состояние 2
	+product-head-mini()
	p состояние 3
	+product-head-maxi() 
	p состояние 4
	+product-head-none()
	p состояние 5
	+product-head-cost()
	<hr/>
	+product-footer()

