mixin return()
  +b.return
    .container
      .row
        .col-12.col-md-6.col-xl-4.offset-xl-2
          +e.P.legislation Согласно Постановлению Правительства РФ № 55 от 19.01.1998, парфюмерно-косметические товары надлежащего качества обмену или возврату в течение 14 дней не подлежат.
        .col-12.col-md-6.col-xl-4
          p Обращаем ваше внимание, что Претензии по количеству и качеству товара в заказах принимаются только в случае их письменной фиксации в сопроводительных документах курьера при доставке. Если заказ принят без проверки в присутствии курьера, мы будем вынуждены отказать вам в рассмотрении претензии.
            |
            br
            |
            br
            | Для регионов РФ претензии принимаются по e-mail с приложением фотографии, фиксирующей выявленные недостатки товара. Вам перезвонит менеджер и согласует с вами порядок обмена или возврата товара.
            |
            br
            |
            br
            | Возврат денежных средств или обмен товара производится только после приема возвращаемого товара в течение 3-х рабочих дней с момента получения товара.
