mixin brand()
  // .brand-block
  +b.dropdown-brand
    +e.A.link(href="#") A-Derma
      span Франция
    +e.A.link(href="#") Ahava
      span Франция
    +e.A.link(href="#") American
      span Франция
    +e.A.link(href="#") Aravia
      span Франция
    +e.A.link(href="#") Avene
      span Франция

  // /.brand-block

mixin soc(name)
  +e.A.item(href="" target="_blank")
    svg(class="icon " + name)
      use(xlink:href="img/svg/sprite.svg#" + name)


mixin icon(name,mod)
  - mod = mod || ''
  svg(class="icon " + name + ' ' + mod)
    use(xlink:href="img/svg/sprite.svg#" + name)



mixin dropdown-catalog ()
  +b.catalog-dropdown
    .row
      .col-2
        +e.UL.list
          +e.LI.item--title НОВИНКИ
          +e.LI.item РАСПРОДАЖА
          +e.LI.item ЛИЦО
          +e.LI.item МАКИЯЖ
          +e.LI.item ТЕЛО
          +e.LI.item НОГТИ
          +e.LI.item ДЕТИ
          +e.LI.item ДОМ
          +e.LI.item МУЖЧИНАМ
          +e.LI.item ПАРФЮМЕРИЯ
          +e.LI.item ГИГИЕНА
          +e.LI.item ЗДОРОВЬЕ
      .col-2

mixin banner()
  +b.banner-wrapper
    +e.A.link
      +e.IMG.img(src='img/banner.jpg')

mixin bannerHead()
    .row
      .col-12.col-md-4.mb-2
        a(href='#')
          img(src='img/image9.jpg', alt='img')
      .col-12.col-md-4.mb-2
        a(href='#')
          img(src='img/image10.jpg', alt='img')
      .col-12.col-md-4.mb-2
        a(href='#')
          img(src='img/image11.jpg', alt='img')

mixin banner4()
  +b.banner-wrapper
    .row.mb-5
      .col-12.col-md-6
        a(href="#")
          img(src="img/image1.jpg")
      .col-12.col-md-6
        a(href="#")
          img(src="img/image2.jpg")
      .col-12.col-md-6
        a(href="#")
          img(src="img/image3.jpg")
      .col-12.col-md-6
        a(href="#")
          img(src="img/image4.jpg")

mixin banner2()
  +b.banner-wrapper
    .row.mb-5
      .col-12.col-md-6
        a(href="#")
          img(src="img/image1.jpg")
      .col-12.col-md-6
        a(href="#")
          img(src="img/image2.jpg")

mixin banner3()
  +b.banner-wrapper
    .row.mb-5
      .col-12.col-md-4
        a(href="#")
          img(src="img/image6.jpg")
      .col-12.col-md-4
        a(href="#")
          img(src="img/image7.jpg")
      .col-12.col-md-4
        a(href="#")
          img(src="img/image8.jpg")
      .col-12.col-md-4
        a(href="#")
          img(src="img/image6.jpg")
      .col-12.col-md-4
        a(href="#")
          img(src="img/image7.jpg")
      .col-12.col-md-4
        a(href="#")
          img(src="img/image8.jpg")



mixin product-item(img, title, description, size)
  +b.product-item
    +e.img-wrap(href="#")
      +e.IMG.img(src=`img/product/product${img}.jpg`, alt="img")
    +e.A.description(href='#')= description
    +e.A.title(href='#')= title
    +e.TABLE.price
      tr
        +e.TD.price-name price
        +e.TD.price-val 1251 p
      tr
        +e.TD.price-name mini sale
        +e.TD.price-val 531 p
      tr
        +e.TD.price-name maxi sale
        +e.TD.price-val 490 p
      tr
        +e.TD.price-name sale
        +e.TD.price-val 490 p
      tr
        +e.TD.price-name VIP
        +e.TD.price-val узнать цену
    +e.icons
      +e.A.favourites
        +icon('icon-favourites')
      +e.A.like
        +icon('icon-like')
      +e.A.basket(href='')
        +icon('icon-basket')

mixin catalogItems(rows)
  .product-list
    - for (var x = 0; x < rows; x++)
      +product-item('1', 'Alan Hadash Murumuru', 'Масло для поврежденных, вьющихся жестких волос с маслом мурумуру', '19 мл')
      +product-item('2', 'Alerana', 'Бальзам-ополаскиватель для всех типов волос', '200 мл')
      +product-item('3', 'Alan Hadash Murumuru', 'Крем защитный для кожи головы ', '100 мл')
      +product-item('4', 'Alan Hadash Murumuru', 'Спрей-термозащита', '150 мл')

