include ../../blocks/mixins/_mixins.pug

mixin dropdown-menu()
  +e.dropdown-menu()
    .row



mixin catalog-nav()
  +b.catalog-nav
    .container
      .row
        .col-12.d-none.d-md-block
          +e.UL.category
            +e.LI.category-item--dropdown
              +e.A.category-item-link(href="#") КАТАЛОГ
              //+dropdown-catalog()
            -var categoryArr = ['ВОЛОСЫ', 'ЛИЦО', 'МАКИЯЖ', 'ТЕЛО', 'НОГТИ', 'ДЕТИ', 'ДОМ', 'МУЖЧИНАМ', 'ПАРФЮМЕРИЯ', 'ГИГИЕНА', 'ЗДОРОВЬЕ', 'ПРОЧЕЕ']
            each cat in categoryArr
              +e.LI.category-item
                +e.A.category-item-link(href="#")=cat


        .col-12
          +e.brand-wrapper
            +e.brand-title
              +e.A(href="#") БРЕНДЫ
            +e.UL.brand
              -var barndsNames = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'Y', 'А', 'Б', 'Г', 'З', 'К', 'Л', 'М', 'О', 'С', 'Т', 'Х', 'Ш', '0-9']
              each brand in barndsNames
                +e.LI.brand-item
                  +e.A.brand-item-link(href="#")=brand
                  +brand()


mixin catalogHederNav()
  .catalog__head
    .row
      .col-12.col-md-6
        .row.align-items-center
          .col-12.col-md-5
            +b.sort
              button.btn.sort__btn Сначала дешевые
              .dropdown-menu
                a.dropdown-item()
          .col-7.d-none.d-md-block
            .row.align-items-center
              .col-auto Отображать по:
              .col-auto
                a.quantity.active(href="#") 16
                a.quantity(href="#") 24
                a.quantity(href="#") 32
      .col-6.d-none.d-md-block
        .row.align-items-center.justify-content-end
          .col-auto Всего:
            strong 12 580 товаров
          .col-auto
            +b.UL.pagination
              +e.LI.item
                +e.A.link.active(href='#') 1
              +e.LI.item
                +e.A.link(href='#') 2
              +e.LI.item
                +e.A.link(href='#') 3
              +e.LI.item
                +e.A.link--dots(href='#') ...
              +e.LI.item
                +e.A.link(href='#') 156

mixin catalogFooterNav()
  +e.footer
    .row
      .col-12.d-md-none
        button.btn.load-more Загрузить еще
      .col-6.d-none.d-md-block
        .row
          .col-8
            .row.align-items-center
              .col-auto Отображать по:
              .col-auto
                a.quantity.active(href="#") 16
                a.quantity(href="#") 24
                a.quantity(href="#") 32
      .col-6.d-none.d-md-block
        .row.align-items-center.justify-content-end
          .col-auto Всего:
            strong 12 580 товаров
          .col-auto
            +b.UL.pagination
              +e.LI.item
                +e.A.link.active(href='#') 1
              +e.LI.item
                +e.A.link(href='#') 2
              +e.LI.item
                +e.A.link(href='#') 3
              +e.LI.item
                +e.A.link--dots(href='#') ...
              +e.LI.item
                +e.A.link(href='#') 156
      .col-12.d-md-none
