.catalog-nav__category {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

.catalog-nav__category-item-link {
  font-family: Proxima Nova, sans-serif;
  font-size: 14px;
  line-height: 85%;
  color: #4D4D4D;
  text-align: center;
  font-weight: bold;
}

.catalog-nav__category-item {
  padding: 13px;
  &:first-child{
    text-align: left;
  }
  &:hover {
    background-color: #5CBF1A;
    & .catalog-nav__cat {
      display: block;
    }
    & .catalog-nav__category-item-link{
      color: white;
      text-decoration: none;
    }
  }
}

.catalog-nav__cat {
  position: absolute;
  max-width: 1415px;
  display: none;
  left: 0;
  top: 45px;
  background: #FFFFFF;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.12);
  z-index: 5;
  & li{
    color: #4D4D4D;
    font-size: 14px;
    line-height: 130%;
    padding-bottom: 3px;
    margin-bottom: 5px;
    text-align: left;
    &:first-child{
      font-weight: bold;
    }
    & .active{
      border-bottom: 1px solid #5CBF1A ;
    }
  }
  & ul{
    margin-bottom: 30px;
  }
  & a{
    &:hover{
      text-decoration: none;
      color: #5CBF1A;
    }
  }
}

.catalog-nav__row {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 35px;
  padding-bottom: 30px;
  padding-top: 20px;
}

.catalog-nav__col {
  width: 20%;
  padding-left: 35px;
  padding-right: 35px;
}

.catalog-nav__brand-wrapper {
  display: flex;
  overflow-x: hidden;

  & .slick-list {
    overflow-x: hidden;
  }

  @include media-breakpoint-up(md) {
    overflow-x: visible;
  }
}

.catalog-nav__brand {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  background-color: #F1F1F1;
  margin-top: 14px;
  padding-right: 12px;
  padding-left: 12px;
  flex-wrap: wrap;
}

.catalog-nav__brand-title {
  margin-top: 14px;
  text-transform: uppercase;
  background-color: #676767;
  padding-left: 7px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

.catalog-nav__brand-item-link {
  font-family: Proxima Nova, sans-serif;
  font-size: 12px;
  line-height: 85%;
  text-align: center;
  color: #4D4D4D;;
}

.catalog-nav__brand-item {
  position: relative;
  margin-left: 15px;

  &:hover {
    & .dropdown-brand {
      display: flex;
      z-index: 2000;
    }
  }

  @include media-breakpoint-up(md) {
    margin-left: 0;
  }
}

.dropdown-brand {
  display: none;
  position: absolute;
  top: 5px;
  margin-top: 30px;
  left: -17px;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
  padding-left: 17px;
  padding-top: 17px;
  padding-bottom: 17px;
  max-width: 226px;
  padding-right: 30px;
  width: 226px;
  border-radius: 5px;
  z-index: 5;

  &:before {
    position: absolute;
    display: block;
    top: -8px;
    left: 14px;
    width: 17px;
    height: 17px;
    content: "";
    background-color: #ffffff;
    transform: rotate(45deg);
  }


}

.dropdown-brand__link {
  color: #4D4D4D;
  margin-bottom: 15px;

  & span {
    color: #9FA3A7;
  }
}
