include ../../blocks/mixins/_mixins.pug

mixin dropdown-menu()
	+e.dropdown-menu()
		.row

mixin catalog-nav()
	+b.catalog-nav
		.container
			.row
				.col-12.d-none.d-lg-block
					+e.UL.category
						+e.LI.category-item--catalog
							+e.A.category-item-link(href="#") КАТАЛОГ
							+e.catalog-dropdown
								.row
									+e.catalog-col.col-2
										ul
											li: a.success-text-color(href='#') НОВИНКИ
											li: a.attention(href='#') РАСПРОДАЖА
											li: a(href='#') ВОЛОСЫ
											li: a(href='#') ЛИЦО
											li: a(href='#') МАКИЯЖ
											li: a(href='#') ТЕЛО
											li: a(href='#') НОГТИ
											li: a(href='#') ДЕТИ
											li: a(href='#') ДОМ
											li: a(href='#') МУЖЧИНАМ
											li: a(href='#') ПАРФЮМЕРИЯ
											li: a(href='#') ГИГИЕНА
											li: a(href='#') ЗДОРОВЬЕ

									+e.catalog-col.col-2
										ul.custom-scroll-js
											li: a(href='#') Шампуни
											li: a(href='#') Кондиционеры для волос
											li: a(href='#') Маски для волос
											li: a(href='#') Масла для волос
											li: a(href='#') Сыворотки для волос
											li: a(href='#') Ампулы для волос
											li: a(href='#') Пилинги и скрабы для волос
											li: a(href='#') Для укладки волос
											li: a(href='#') Окрашивание волос
											li: a(href='#') Кератиновое выпрямление волос
											li: a(href='#') Шампуни
											li: a(href='#') Кондиционеры для волос
											li: a(href='#') Маски для волос
											li: a(href='#') Масла для волос
											li: a(href='#') Сыворотки для волос
											li: a(href='#') Ампулы для волос
											li: a(href='#') Пилинги и скрабы для волос
											li: a(href='#') Для укладки волос
											li: a(href='#') Окрашивание волос
											li: a(href='#') Кератиновое выпрямление волос
									+e.catalog-col.col-2
										ul.custom-scroll-js
											li: a(href='#') ШАМПУНИ
											li: a(href='#') Сухие шампуни
											li: a(href='#') Для сухих волос
											li: a(href='#') Для крашенных волос
											li: a(href='#') Оттеночный шампунь
											li: a(href='#') Для роста волос
											li: a(href='#') Против выпадения волос
											li: a(href='#') Для жирных волос
											li: a(href='#') От перхоти
											li: a(href='#') Для вьющихся волос
											li: a(href='#') Безсульфатные
											li: a(href='#') Оттеночный шампунь
											li: a(href='#') Для роста волос
											li: a(href='#') Против выпадения волос
											li: a(href='#') Для жирных волос
											li: a(href='#') От перхоти
											li: a(href='#') Для вьющихся волос
											li: a(href='#') Безсульфатные
									+e.catalog-col.col-6
										+e.IMG.catalog-img(src='img/menu-banner.jpg' width='664')

						-var categoryArr = ['ВОЛОСЫ', 'ЛИЦО', 'МАКИЯЖ', 'ТЕЛО', 'НОГТИ', 'ДЕТИ', 'ДОМ', 'МУЖЧИНАМ', 'ПАРФЮМЕРИЯ', 'ГИГИЕНА', 'ЗДОРОВЬЕ', 'ПРОЧЕЕ']
						each cat in categoryArr
							+e.LI.category-item
								+e.A.category-item-link(href="#")=cat
								+e.category-dropdown
									+e.row
										+e.category-col
											ul
												li: a.active(href='#') ШАМПУНИ
												li: a(href='#') Сухие шампуни
												li: a(href='#') Для сухих волос
												li: a(href='#') Для крашенных волос
												li: a(href='#') Оттеночный шампунь
												li: a(href='#') Для роста волос
												li: a(href='#') Против выпадения волос
												li: a(href='#') Для жирных волос
												li: a(href='#') От перхоти
												li: a(href='#') Для вьющихся волос
												li: a(href='#') Безсульфатные
											ul
												li: a(href='#') КОНДИЦИОНЕРЫ ДЛЯ ВОЛОС
										+e.category-col
											ul
												li: a(href='#') МАСКИ ДЛЯ ВОЛОС
												li: a(href='#') Маски для окрашенных волос
												li: a(href='#') Маски против выпадения
											ul
												li: a(href='#') МАСЛА ДЛЯ ВОЛОС
												li: a(href='#') Аргановое масло
												li: a(href='#') Кокосовое масло для волос
											ul
												li: a(href='#') СЫВОРОТКИ ДЛЯ ВОЛОС
												li: a(href='#') Сыворотка для роста волос
										+e.category-col
											ul
												li: a(href='#') АМПУЛЫ ДЛЯ ВОЛОС
												li: a(href='#') Ампулы против выпадения волос
												li: a(href='#') Ампулы для роста волос
											ul
												li: a(href='#') ПИЛИНГИ И СКРАБЫ ДЛЯ ВОЛОС
											ul
												li: a(href='#') ДЛЯ УКЛАДКИ ВОЛОС
												li: a(href='#') Воск для укладки волос
												li: a(href='#') Паста для укладки волос
												li: a(href='#') Гель для укладки волос
												li: a(href='#') Лак для укладки волос
												li: a(href='#') Спрей для укладки волос
												li: a(href='#') Мусс для укладки волос
												li: a(href='#') Пенка для укладки волос
												li: a(href='#') Крем для укладки волос
												li: a(href='#') Пудра для укладки волос

										+e.category-col
											ul
												li: a(href='#') ОКРАШИВАНИЕ ВОЛОС
												li: a(href='#') Краска для волос
												li: a(href='#') Окислители для окрашивания
												li: a(href='#') Оттеночные средства
												li: a(href='#') Кисти и аксессуары для волос
											ul
												li: a(href='#') КЕРАТИНОВОЕ ВЫПРЯМЛЕНИЕ ВОЛОС
											ul
												li: a(href='#') КЕРАТИНОВОЕ ВЫПРЯМЛЕНИЕ ВОЛОС
											ul
												li: a(href='#') ДЛЯ ХИМИЧЕСКОЙ ЗАВИВКИ ВОЛОС
											ul
												li: a(href='#') АКСЕССУАРЫ ДЛЯ ВОЛОС
												li: a(href='#') Расчески и щетки
												li: a(href='#') Резинки
												li: a(href='#') Бигуди

										+e.category-col
											ul
												li: a(href='#') ЗАЩИТА ОТ СОЛНЦА ДЛЯ ВОЛОС
												li: a(href='#') Солнцезащитные спреи для волос
											ul
												li: a(href='#') ТЕРМОЗАЩИТА ДЛЯ ВОЛОС
											ul
												li: a(href='#') ЛАМИНИРОНИЕ ВОЛОС
											ul
												li: a(href='#') ЛОСЬОНЫ ДЛЯ ВОЛОС
												li: a(href='#') Лосьон от выпадения волос
												li: a(href='#') Лосьон для роста волос
											ul
												li: a(href='#') БАЛЬЗАМЫ ДЛЯ ВОЛОС
												li: a(href='#') Оттеночный бальзам
												li: a(href='#') Бальзам для сухих
												li: a(href='#') Бальзам для окрашенных волос
												li: a(href='#') Корейский бальзам для волос

				.col-12
					+e.brand-wrapper
						+e.brand-title
							+e.A(href="#") БРЕНДЫ
						+e.UL.brand
							-var barndsNames = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'Y', 'А', 'Б', 'Г', 'З', 'К', 'Л', 'М', 'О', 'С', 'Т', 'Х', 'Ш', '0  -  9']
							each brand in barndsNames
								+e.LI.brand-item
									+e.A.brand-item-link(href="#")=brand
									+brand()

mixin catalogHederNav()
	.catalog__head
		.row
			.col-12.col-md-7.col-lg-7.col-xl-7.col-xxl-6
				.row.align-items-end.align-items-xxl-center
					.col-12.col-md-7.col-xl-6.col-xxl-5
						.catalog__sort.mb-2.mb-lg-0
							select.catalog__sort-select
								option(value='down' selected) Сначала дешевые
								option(value='up') Сначала дорогие
					.col-7.d-none.d-md-block.col-md-5.col-xl-6.col-xxl-7.pr-0.pr-xl-2.pl-0.pl-xl-2
						.row.align-items-center
							.col-auto.mb-2.mb-xxl-0 Отображать по:
							.col-auto
								a.quantity.active(href="#") 16
								a.quantity(href="#") 24
								a.quantity(href="#") 32
			.col-6.col-md-5.col-lg-5.col-xl-5.col-xxl-6.d-none.d-md-block
				.row.align-items-center.justify-content-end
					.col-auto.mb-2.mb-xxl-0 Всего:
						strong   12 580 товаров
					.col-auto
						+b.UL.pagination
							+e.LI.item
								+e.A.link.active(href='#') 1
							+e.LI.item
								+e.A.link(href='#') 2
							+e.LI.item
								+e.A.link(href='#') 3
							+e.LI.item
								+e.A.link--dots(href='#') ...
							+e.LI.item
								+e.A.link(href='#') 156

mixin catalogFooterNav()
	+e.footer
		.row
			.col-12.d-md-none
				button.btn.load-more Загрузить еще
			.col-6.d-none.d-md-block
				.row
					.col-8
						.row.align-items-center
							.col-auto.mb-2.mb-xl-0 Отображать по:
							.col-auto
								a.quantity.active(href="#") 16
								a.quantity(href="#") 24
								a.quantity(href="#") 32
			.col-6.d-none.d-md-block
				.row.align-items-center.justify-content-end
					.col-auto.mb-2.mb-xl-0 Всего:
						strong   12 580 товаров
					.col-auto
						+b.UL.pagination
							+e.LI.item
								+e.A.link.active(href='#') 1
							+e.LI.item
								+e.A.link(href='#') 2
							+e.LI.item
								+e.A.link(href='#') 3
							+e.LI.item
								+e.A.link--dots(href='#') ...
							+e.LI.item
								+e.A.link(href='#') 156

mixin mobileLevel()
	+e.level
		+e.back
			+e.BUTTON.btn-back.mobile-catalog__level-toggle
		+e.category-wrapper.custom-scroll-js
			+e.category
				+e.A.category-title--list(href='#') Шампуни
				+e.UL.category-list
					+e.LI.category-item
						+e.A.category-link.success-text-color(href='#') Все товары
					+e.LI.category-item
						+e.A.category-link(href='#') Сухие шампуни
					+e.LI.category-item
						+e.A.category-link(href='#') Для сухих волос
					+e.LI.category-item
						+e.A.category-link(href='#') Для крашенных волос
					+e.LI.category-item
						+e.A.category-link(href='#') Оттеночный шампунь
					+e.LI.category-item
						+e.A.category-link(href='#') Для роста волос
					+e.LI.category-item
						+e.A.category-link(href='#') Против выпадения волос
					+e.LI.category-item
						+e.A.category-link(href='#') Для жирных волос
					+e.LI.category-item
						+e.A.category-link(href='#') От перхоти
					+e.LI.category-item
						+e.A.category-link(href='#') Для вьющихся волос
			+e.category
				+e.A.category-title(href='#') Кондиционеры для волос
			+e.category
				+e.A.category-title(href='#') Маски для волос
			+e.category
				+e.A.category-title(href='#') Масла для волос
			+e.category
				+e.A.category-title(href='#') Сыворотки для волос
			+e.category
				+e.A.category-title(href='#') Ампулы для волос
			+e.category
				+e.A.category-title(href='#') Пилинги и скрабы для волос
			+e.category
				+e.A.category-title(href='#') Для укладки волос
			+e.category
				+e.A.category-title(href='#') Окрашивание волос
			+e.category
				+e.A.category-title(href='#') Кератиновое выпрямление волос



mixin catalogMobileNav()
	+b.mobile-catalog
		+e.wrapper
			+e.top
				+e.title КАТАЛОГ
				+e.BUTTON.btn-close
					span
			+e.levl-one
				+e.UL.list
					+e.LI.item
						+e.A.link.mobile-catalog__level-toggle(href='#') НОВИНКИ
						+mobileLevel()

					+e.LI.item
						+e.A.link.mobile-catalog__level-toggle.attention(href='#') РАСПРОДАЖА
						+mobileLevel()

					+e.LI.item
						+e.A.link.mobile-catalog__level-toggle(href='#') ВОЛОСЫ
						+mobileLevel()

					+e.LI.item
						+e.A.link.mobile-catalog__level-toggle(href='#') ЛИЦО
						+mobileLevel()

					+e.LI.item
						+e.A.link.mobile-catalog__level-toggle(href='#') МАКИЯЖ
						+mobileLevel()

					+e.LI.item
						+e.A.link.mobile-catalog__level-toggle(href='#') ТЕЛО
						+mobileLevel()

					+e.LI.item
						+e.A.link.mobile-catalog__level-toggle(href='#') НОГТИ
						+mobileLevel()

					+e.LI.item
						+e.A.link.mobile-catalog__level-toggle(href='#') ДЕТИ
						+mobileLevel()

					+e.LI.item
						+e.A.link.mobile-catalog__level-toggle(href='#') ДОМ
						+mobileLevel()

					+e.LI.item
						+e.A.link.mobile-catalog__level-toggle(href='#') МУЖЧИНАМ
						+mobileLevel()
					+e.LI.item
						+e.A.link.mobile-catalog__level-toggle(href='#') ПАРФЮМЕРИЯ
						+mobileLevel()

					+e.LI.item
						+e.A.link(href='#') ГИГИЕНА
					+e.LI.item
						+e.A.link(href='#') Здоровье
					+e.LI.item
						+e.A.link(href='#') Прочее
