.catalog-nav__category {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

.catalog-nav__category-item-link {
  font-family: Proxima Nova, sans-serif;
  font-size: 14px;
  line-height: 85%;
  color: #4D4D4D;
  text-align: center;
  font-weight: bold;
}

.catalog-nav__category-item {
  padding: 13px;
  padding-bottom: 8px;
  transition: .2s;

  &:first-child {
    text-align: left;
    padding-left: 0;
    &:hover {
      padding-left: 13px;
    }
  }
  &:last-child {
    padding-right: 0;
    &:hover {
      padding-right: 13px;
    }
  }

  &:hover {
    background-color: #5CBF1A;

    & .catalog-nav__category-dropdown {
      display: block;
    }

    & .catalog-nav__catalog-dropdown {
      display: block;
    }

    & .catalog-nav__category-item-link {
      color: white;
      text-decoration: none;
    }
  }
}

.catalog-nav__category-dropdown {
  position: absolute;
  max-width: 1415px;
  display: none;
  left: 0;
  top: 41px;
  background: #FFFFFF;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.12);
  z-index: 5;

  & li {
    color: #4D4D4D;
    font-size: 14px;
    line-height: 130%;
    padding-bottom: 3px;
    margin-bottom: 5px;
    text-align: left;

    &:first-child {
      font-weight: bold;
    }

    & .active {
      border-bottom: 1px solid #5CBF1A;
    }
  }

  & ul {
    margin-bottom: 30px;
  }

  & a {
    &:hover {
      text-decoration: none;
      color: #5CBF1A;
    }
  }
}

.catalog-nav__catalog-dropdown {
  display: none;
  max-width: 1415px;
  max-height: 460px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 41px;
  z-index: 5;
  background: #FFFFFF;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.12);
  padding-left: 15px;
}

.catalog-nav__catalog-col{
  padding-left: 0;
  padding-right: 0;
  &:first-child{
    background-color: #333333;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.12);
    color: white;
    & ul{
      padding-top: 10px;
      padding-bottom: 20px;
    }
    & li{
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 22px;
      padding-right: 22px;
      font-weight: bold;
      font-size: 14px;
      line-height: 85%;
      position: relative;
      &:hover{
        background: #5CBF1A;
        & a{
          color: white;
          text-decoration: none;
        }
        &:before{
          position: absolute;
          content: '';
          display: block;
          right: -6px;
          top: 50%;
          width: 9px;
          height: 9px;
          background: #5CBF1A;
          transform: rotate(45deg) translatex(-50%);
        }
      }
    }
  }
  &:nth-child(2){
    & ul{
     max-height: 450px;
    }
    & li{
      padding-left: 30px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-weight: bold;
      font-size: 14px;
      line-height: 130%;
      padding-right: 30px;
      & a:hover{
        color: #5CBF1A;
        text-decoration: none;
      }
    }
  }
  &:nth-child(3){
    & ul{
      max-height: 450px;
    }
    & li{
      padding-left: 30px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 14px;
      line-height: 130%;
      padding-right: 30px;
      & a:hover{
        color: #5CBF1A;
        text-decoration: none;
      }
    }
  }
  &:nth-child(4){
    padding-right: 15px;
  }
}
.catalog-nav__catalog-img{
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
}

.catalog-nav__row {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 35px;
  padding-bottom: 30px;
  padding-top: 20px;
}

.catalog-nav__category-col {
  width: 20%;
  padding-left: 35px;
  padding-right: 35px;
}

.catalog-nav__brand-wrapper {
  display: flex;
  overflow-x: hidden;

  & .slick-list {
    overflow-x: hidden;
  }

  @include media-breakpoint-up(md) {
    overflow-x: visible;
  }
}

.catalog-nav__brand {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  background-color: #F1F1F1;
  padding-right: 12px;
  padding-left: 12px;
  //flex-wrap: wrap;
}

.catalog-nav__brand-title {
  text-transform: uppercase;
  background-color: #676767;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  align-items: center;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

.catalog-nav__brand-item-link {
  font-family: Proxima Nova, sans-serif;
  font-size: 12px;
  line-height: 85%;
  text-align: center;
  color: #4D4D4D;;
}

.catalog-nav__brand-item {
  position: relative;
  margin-left: 15px;
  padding-top: 3px;
  padding-bottom: 3px;

  &:hover {
    @include media-breakpoint-up(md) {
      & .dropdown-brand {
        display: flex;
        z-index: 2000;
      }
      margin-left: 0;
    }
  }

  @include media-breakpoint-up(md) {
    margin-left: 0;
  }
  &:last-child{
    & .catalog-nav__brand-item-link{
      letter-spacing: 0.3em;
    }
  }
}

.dropdown-brand {
  display: none;
  position: absolute;
  top: 5px;
  margin-top: 30px;
  left: -17px;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
  padding-left: 17px;
  padding-top: 17px;
  padding-bottom: 17px;
  max-width: 226px;
  padding-right: 15px;
  width: 226px;
  border-radius: 5px;
  z-index: 5;
  max-height: 350px;

  &:before {
    position: absolute;
    display: block;
    top: -8px;
    left: 14px;
    width: 17px;
    height: 17px;
    content: "";
    background-color: #ffffff;
    transform: rotate(45deg);
  }


}

.dropdown-brand__link {
  color: #4D4D4D;
  margin-bottom: 15px;
  width: 100%;

  & span {
    color: #9FA3A7;
  }
}

.catalog__sort{
  position: relative;
  &:before{
    position: absolute;
    display: block;
    content: '';
    right: 0;
    top: 0;
    width: 40px;
    height: 100%;
    padding: 15px;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='5' viewBox='0 0 9 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 1L4.5 4L1 1' stroke='%236CB13E' stroke-width='2' stroke-miterlimit='16' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
  }
}
.catalog__sort-select{
  border: 2px solid #9FA3A7;
  border-radius: 5px;
  font-size: 14px;
  line-height: 85%;
  text-align: center;
  color: #4D4D4D;
  padding-top: 11px;
  padding-bottom: 11px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: 10px;
  padding-right: 30px;
}
