include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })

include ../../blocks/header/_header.pug
include ../../blocks/top-nav/_top-nav.pug
include ../../blocks/catalog-nav/_catalog-nav.pug
include ../../blocks/footer/footer
include ../../blocks/modal/modal

doctype html
html(lang="ru")
	head
		meta(charset="utf-8")

		block title
			title title
		meta(name="description", content="BDC")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport", content="width=width=device-width,initial-scale=1")
		meta(property='og:image', content='path/to/image.jpg')
		link(rel='shortcut icon',   type="image/png",  href='img/favicon/favicon.png')

		// Custom Browsers Color
		meta(name='theme-color', content='#b9a783')

		link(rel="stylesheet", type="text/css", href="css/magnific-popup.css")
		link(rel="stylesheet", type="text/css", href="css/jquery.mCustomScrollbar.min.css")
		link(rel="stylesheet", type="text/css", href="css/ion.rangeSlider.min.css")
		link(rel="stylesheet", type="text/css", href="css/select2.min.css")
		link(rel="stylesheet", type="text/css", href="css/style.min.css")

		script(defer type="text/javascript", src="js/jquery.min.js")
		script(defer type="text/javascript", src="js/bootstrap.bundle.min.js")
		script(defer type="text/javascript", src="js/slick.js")
		script(defer type="text/javascript", src="js/jquery.magnific-popup.min.js")
		script(defer type="text/javascript", src="js/jquery.maskedinput.js")
		script(defer type="text/javascript", src="js/jquery.mCustomScrollbar.concat.min.js")
		script(defer type="text/javascript", src="js/ion.rangeSlider.min.js")
		script(defer type="text/javascript", src="js/select2.min.js")
		script(defer type="text/javascript", src="js/swiper.min.js")

		script(defer type="text/javascript", src="js/main.js")




	body
		+header-cat-down()
			+catalogMobileNav()
			+mob-mnu()
			+top-nav()
			+catalog-nav()
		block pagecontent

		+modals()
		+footer()
		//+modal()




