mixin advertising(title)
  +b.advertising
    .container
      +e.H2.title= title
      +e.slider-wrapper
        +e.slider
          +product-item('1', 'Alan Hadash Murumuru', 'Масло для поврежденных, вьющихся жестких волос с маслом мурумуру', '19 мл')
          +product-item('2', 'Alerana', 'Бальзам-ополаскиватель для всех типов волос', '200 мл')
          +product-item('3', 'Alan Hadash Murumuru', 'Крем защитный для кожи головы ', '100 мл')
          +product-item('4', 'Alan Hadash Murumuru', 'Спрей-термозащита', '150 мл')
          +product-item('1', 'Alan Hadash Murumuru', 'Масло для поврежденных, вьющихся жестких волос с маслом мурумуру', '19 мл')
          +product-item('2', 'Alerana', 'Бальзам-ополаскиватель для всех типов волос', '200 мл')
          +product-item('3', 'Alan Hadash Murumuru', 'Крем защитный для кожи головы ', '100 мл')
          +product-item('4', 'Alan Hadash Murumuru', 'Спрей-термозащита', '150 мл')
        BUTTON.btn-prev.advertising__btn-prev
          +icon('icon-arrow-left')
        BUTTON.btn-next.advertising__btn-next
          +icon('icon-arrow-right')

mixin advertisingNoBg(title)
  +b.advertising--bg
    .container
      +e.H2.title= title
      +e.slider-wrapper
        +e.slider
          +product-item('1', 'Alan Hadash Murumuru', 'Масло для поврежденных, вьющихся жестких волос с маслом мурумуру', '19 мл')
          +product-item('2', 'Alerana', 'Бальзам-ополаскиватель для всех типов волос', '200 мл')
          +product-item('3', 'Alan Hadash Murumuru', 'Крем защитный для кожи головы ', '100 мл')
          +product-item('4', 'Alan Hadash Murumuru', 'Спрей-термозащита', '150 мл')
          +product-item('1', 'Alan Hadash Murumuru', 'Масло для поврежденных, вьющихся жестких волос с маслом мурумуру', '19 мл')
          +product-item('2', 'Alerana', 'Бальзам-ополаскиватель для всех типов волос', '200 мл')
          +product-item('3', 'Alan Hadash Murumuru', 'Крем защитный для кожи головы ', '100 мл')
          +product-item('4', 'Alan Hadash Murumuru', 'Спрей-термозащита', '150 мл')
        BUTTON.btn-prev.advertising__btn-prev
          +icon('icon-arrow-left')
        BUTTON.btn-next.advertising__btn-next
          +icon('icon-arrow-right')

