.manul{
  padding-top: 20px;
  margin-bottom: 66px;
  @include media-breakpoint-down(md){
    margin-bottom: 30px;
    padding-top: 10px;
  }
  &__link{
    color: $success-color;
  }
  & p{
    margin-bottom: 28px;
    font-size: 16px;
    line-height: 22px;
    @include media-breakpoint-down(md){
      margin-bottom: 16px;
    }
  }
  &__img-wrapper{
    display: flex;
  }
  &__img{
    margin-right: 10px;
    &:last-child{
      margin-right: 0;
      flex-grow: 1;
    }
  }
}
