mixin manul()
  +b.manul
    .container
      .row
        .col-12.col-lg-6.mb-4
          img(src='img/manul/manul.jpg' width='692')
        .col-12.col-lg-6
          p Всей командой BEAUTY DISCOUNT CENTER взял шефство над этим прекрасным и независимым обитателем Московского зоопарка, обладателем шикарной блестящей шубки. Манул — животное размером с домашнюю кошку: длина его тела 52—65 см, хвоста 23—31 см; весит он 2—5 кг. От обычной кошки он отличается более плотным, массивным телом на коротких толстых лапах и очень густой шерстью. Манул распространён в Центральной и Средней Азии, от Южного Закавказья и западного Ирана до Забайкалья, Монголии и Северо-Западного Китая.
          p.font-bold Этот редкий зверь очень близок нам по духу он независим и всегда идет своим путем, смотрит грозным взглядом и никогда не убегает. А еще он самый пушистый и очаровательный зверь. &nbsp;
            |
            +e.A.link(href='#') Instagram
          +e.img-wrapper
            +e.IMG.img(src='img/manul/manul-1.jpg')
            +e.IMG.img(src='img/manul/manul-2.jpg')

