include ../table-product/table-product
mixin basket()
  +b.basket
    .container
      +e.header-line.d-none.d-md-block
        .row.align-items-center
          .col-4 При заказе от 3000 рублей -
            |
            br
            |
            span.font-weight-bold цена MINI
              span.attention SALE

          .col-4 При заказе от 7000 рублей -
            |
            br
            |
            span.font-weight-bold цена MAXI
              |
              span.attention SALE
              | + бесплатная доставка

          .col-4.text-right Скидки не распространяются на товары &nbsp
            span.font-weight-bold.attention SALE-ценой
      +e.content
        .row
          .col-12.col-md-8
            +b.basket-table
              +e.header.d-md-flex
                +e.header-item--product Товар
                +e.header-item--quantity Количество
                +e.header-item--cost Цена
                +e.header-item--total Итого
              +e.wrapper
                +e.item
                  +table-product()
                +e.item
                  +table-product()
                +e.item
                  +table-product()
                +e.item
                  +table-product()
                +e.item
                  +table-product()
      +e.footer
        .row
          .col-12.col-md-2
            



          .col-12.col-md-4




