include ../table-product/table-product
include ../basket-form/basket-form
mixin basket()
  +b.basket
    .container
      +e.header-line.d-none.d-lg-block
        .row.align-items-center
          .col-4 При заказе от 3000 рублей -
            |
            br
            |
            span.font-weight-bold цена MINI
              span.attention SALE

          .col-4 При заказе от 7000 рублей -
            |
            br
            |
            span.font-weight-bold цена MAXI
              |
              span.attention SALE
              | + бесплатная доставка

          .col-4.text-right Скидки не распространяются на товары &nbsp
            span.font-weight-bold.attention SALE-ценой
      +e.content
        .row
          .col-12.col-lg-8.mb-3
            +b.basket-table
              +e.header.d-lg-flex
                +e.header-item--product Товар
                +e.header-item--quantity Количество
                +e.header-item--cost Цена
                +e.header-item--total Итого
              +e.wrapper
                +e.item
                  +table-product()
                +e.item
                  +table-product()
                +e.item
                  +table-product()
                +e.item
                  +table-product()
                +e.item
                  +table-product()
              +e.footer
                .row
                  .col-12.col-lg-3.mb-3
                    +e.footer-item
                      +e.LABEL.label Промокод:
                      +e.input-wrapper
                        +e.INPUT.input
                        +e.BUTTON.btn--ok ок
                  .col-12.col-lg-3.mb-3
                    +e.footer-item
                      +e.LABEL.label Персональный промокод:
                      +e.input-wrapper
                        +e.INPUT.input
                        +e.BUTTON.btn.btn-close
                  .col-12.col-lg-3.mb-3
                    +e.footer-item
                      +e.LABEL.label Оплата баллами
                      .col-auto.font-bold.flex-grow-1.text-right.attention.pr-0 12 589 б.
                      +e.input-wrapper
                        +e.INPUT.input
                        +e.BUTTON.btn--ok ок
                  .col-12.col-lg-3.mb-3
                    .row
                      .col-6.mb-4 Скидка
                        |
                        span
                          +icon('icon-question')
                      +e.total-discount.col-6.text-right.mb-4 256 р
                      .col-6 Итого
                      +e.total-sum.col-6.text-right 1003 р
                .row
                  .col-12.text-md-right Купи товар еще на &nbsp;
                    |
                    span.attention.font-bold 500 р &nbsp;
                    |
                    span.font-bold.success-text-color и получи выгоную цену

          .col-12.col-lg-4
            .row.justify-content-between
              .basket-form__title.col-12.d-md-none Оформление заказа
              +e.header-text.col-auto Общая сумма заказа
              +e.header-sum.col-auto.success-text-color.font-bold 1003 р
              .col-12.basket__form-wrapper
                +basket-form-step-1()
                +basket-form-step-1-devel()
                +basket-form-step-2()
            +e.right-col-footer

              div.mb-2
                |
                span.font-bold Тип доставки: &nbsp;
                | курьер
              div.mb-2
                |
                span.font-bold Тип оплаты: &nbsp;
                | При получении, Предоплата на сайте
              div.mb-2
                |
                span.font-bold График работы: &nbsp;
                | с момента телефонного подтверждения заказа Понедельник - пятница с 10-00 до 21-00 Суббота-воскресенье с 10-00 до 18-00 (о возможности доставки уточняйте у оператора)
              div.mb-2
                |
                span.font-bold Срок доставки: &nbsp;
                | от 1 до 2 рабочих
              div.mb-2
                |
                span.font-bold Телефон: &nbsp;
                | 8(499) 645-53-62
              div.mb-2
                |
                span.font-bold Описание: &nbsp;
                |  Курьерская доставка заказа осуществляется компанией ЛК ВНИМАНИЕ! Эта доставка ТОЛЬКО в пределах МКАД. За пределами МКАД доставка осуществляется по НЕДЕЛЬНОМУ графику (уточняйте у оператора) по тарифам Московской области Курьеры предварительно связываются с Вами в день доставки. Уточнение информации по доставке заказа по телефону курьерской службы 8(499) 645-53-62 Оплата товара осуществляется курьеру по наличному расчету. Пожалуйста, проверяйте комплектность заказа при курьере





