mixin product-footer()
	.container
		p Французская косметика Bioderma была создана в 1978 году на базе фармацевтической лаборатории, однако впоследствии компания сменила вектор своего развития, обратив свои научные разработки на решение более узкого спектра проблем. Сейчас Биодерма создает эффективные препараты для лечения и профилактики различных проблем связанных с кожей. В ассортименте марки вы найдете 8 основных линеек для различных типов кожи (в том числе атопичной и страдающей розацеа или дерматитом), а также линейку для волос и кожи головы.
