mixin error-page()
  +b.error-page
    +e.item
      +e.number 4
      +e.H1.title Страница не найдена
    +e.item--zero
      +e.number 0
    +e.item
      +e.number 4
      +e.A.link--back.link(href='#') Назад
      +e.A.link.link(href='#') На главную
