mixin newsItem(img, title, text, likes )
  .news__item
    .news__item-img
      img(src='img/news/' + img)
    h4.news__item-tile= title
      .news__item-like= likes
        +icon('icon-heart')

    p.news__item-entry= text



mixin newsList(num)
  - var img = ['image.jpg', 'image2.jpg', 'image3.jpg', 'image4.jpg', 'image5.jpg', 'image6.jpg']

  - var title = ['VIP-цены вернулись! Ура!', 'Консилер – любимое средство визажистов!', 'VIP-цены вернулись! Ура!', 'Мицеллярная вода – свежесть и чистота одним движением!', 'VIP-цены вернулись! Ура!', 'Мицеллярная вода – свежесть и чистота одним движением!' ]

  - var text = ['Сделай заказ на 2000 руб. и получи свой заказ по VIP-цене! Торопись! Акция продлится до 14 Мая.', 'Консилер, от английского "conceal" – поглощать. Если вы еще не знакомы с этим средством, то гарантируем - вы его полюбите, потому что оно призвано скрывать все несовершенства кожи лица, маскировать морщинки,...', 'Сделай заказ на 2000 руб. и получи свой заказ по VIP-цене! Торопись! Акция продлится до 14 Мая', '«Волшебная вода» легко снимает макияж, подходит для кожи любого типа и не требует смывания. В чем ее секрет? Внимательно читаем статью!', 'Сделай заказ на 2000 руб. и получи свой заказ по VIP-цене! Торопись! Акция продлится до 14 Мая.', '«Волшебная вода» легко снимает макияж, подходит для кожи любого типа и не требует смывания. В чем ее секрет? Внимательно читаем статью!']
  - var likes = ['12', '45', '12', '45', '12', '45']
  .container
    .news__list
      .row
        - for (var x = 0; x < num; x++)
          .news__item-wrapper.col-12.col-md-6
            +newsItem(img[x], title[x], text[x], likes[x])


