mixin comp-info()
  +b.company-info
    .container
      .row
        .col-12.col-md-7
          +e.IMG.logo(src="img/company-info-logo.jpg")
          +e.P.text Это первый интернет-магазин косметики и парфюмерии формата CASH&CARRY, предлагающий всем и каждому профессиональную и брендовую косметику для лица, тела и волос, макияжа, парфюмерию, профессиональную технику по закупочным ценам. Чем больше покупаете - тем меньше цена! Работаем как для частных лиц, так и для корпоративных клиентов. Мы принимаем оплату наличными и через систему онлайн-оплаты на сайте. Для корпоративных клиентов предусмотрена оплата в безналичном порядке. BEAUTY DISCOUNT CENTER представляет ведущие мировые бренды: Matrix, Matrix Biolage, Loreal Professionnel, Kerastase, Dikson, Brelil Professional, Revlon Professional, Moroccanoil, Lebel, Tangle Teezer, TIGI, EOS и многие другие. Гибкая система скидок позволит вам максимально рационально распорядиться своим бюджетом.
        .col-12.col-md-4.offset-md-1
          +e.IMG.small-logo(src="img/company-info-logo-sm.jpg")
          +e.P Консилер – любимое средство визажистов!
            br
            br
            | Консилер, от английского "conceal" – поглощать. Если вы еще не знакомы с этим средством, то гарантируем - вы его полюбите, потому что оно призвано скрывать все
