.product-head {

  & p {
    color: #9FA3A7;
  }

  @include media-breakpoint-up(md) {

  }

  .product-head__sale {
    border: 3px solid #E0E0E0;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 26px;
    padding-bottom: 25px;
    text-align: center;
    margin-bottom: 20px;

    & .product-head__cost {
      margin-left: 0;
    }
  }

  .product-head__old-cost {
    font-size: 20px;
    color: #9FA3A7;
    text-decoration-line: line-through;
    line-height: 1;
    text-align: center;
  }

  .product-head__btn {
    border: 1px solid #5CBF1A;
    font-weight: bold;
    font-size: 16px;
    border-radius: 3px;
    display: block;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    color: #9FA3A7;
    margin-bottom: 20px;
    line-height: 1;
    @include media-breakpoint-up(md){
      margin-bottom: 32px;
      font-size: 20px;
    }
  }

  .product-head__sale-title {
    display: flex;
    text-transform: uppercase;
    font-size: 16px;
    color: #4D4D4D;
  }

  & .icon-heart {
    border: none;
    fill: #9FA3A7;
    width: 14px;
    height: 14px;
    padding: 0;
    cursor: pointer;
  }
}

.product-head__sale-subtitle {
  margin-bottom: 5px;
}

.product-head__title {
  font-size: 16px;
  margin-bottom: 13px;
  @include media-breakpoint-up(md) {
    font-size: 30px;
    margin-bottom: 10px;
  }
}


.product-head__subtitle {
  font-size: 12px;
  color: #4D4D4D;
  margin-bottom: 31px;
  @include media-breakpoint-up(md) {
    font-size: 16px;
    margin-bottom: 57px;
  }
}

.product-head__article,
.product-head__code {
  font-weight: bold;

  & span {
    font-weight: normal;
  }
}

.product-head__article {
  margin-bottom: 13px;
}

.product-head__code {
  margin-bottom: 20px;
}

.product-head__bought {
  color: #9FA3A7;
}

.product-category {
  margin-top: 30px;

  &__title {
    color: $primary;
    font-weight: bold;
    font-size: 16px;
    text-transform: none;
    margin-bottom: 20px;
  }

  &__item {
    margin-bottom: 10px;
  }

  &__link {
    text-decoration: underline;
    cursor: pointer;
  }
}

.price-block {
  border: 1px solid #E9E9E9;
  border-radius: 10px;
  @include media-breakpoint-up(md) {
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 27px;
    padding-bottom: 28px;
  }
}

.price-block__name {
  text-transform: uppercase;
}

.price-block__row {
  margin-bottom: 15px;
  display: flex;
  align-items: center;

  &:last-child {
    margin-bottom: 60px;
  }
}

.price-block__action {
  font-weight: bold;
  font-size: 14px;
  line-height: 114%;
  text-align: center;
  color: #FFFFFF;
  background-color: #BE0B58;
  border-radius: 3px;
  padding-top: 4px;
  padding-left: 7px;
  padding-right: 6px;
  padding-bottom: 2px;
  text-transform: uppercase;
  margin-left: 5px;
}

.price-block__cost {
  color: #5CBF1A;
  font-weight: bold;
  @include media-breakpoint-up(md) {
    font-size: 30px;
  }
}

.price-block__cost--new-cost {
  color: $text-color;
}

.price-block__cost--old-cost {
  color: $text-color;
  font-weight: normal;
  font-size: 20px;
}

.price-block__btn {
  background-color: white;
  color: #5CBF1A;
  border: 1px solid #5CBF1A;
  border-radius: 48px;
  font-weight: bold;
  font-size: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-transform: uppercase;
}

.block-add {
  background: #EDEDED;
  border-radius: 48px;
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
  width: 100%;
}

.block-add__btn {
  height: 100%;
  border-radius: 48px;
  width: 40px;
  position: relative;
  cursor: pointer;

  &:before,
  &:after {
    position: absolute;
    display: block;
    content: '';
    width: 20px;
    height: 1px;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .2s;
  }

  &:hover {
    &:before,
    &:after {
      background-color: #82C456;
    }
  }

  &:after {
    &:before,
    &:after {
      background-color: #459014;
    }
  }
}

.block-add__btn--plus {
  &:before {
    left: 50%;
    transform: rotate(90deg) translate(0, 10px);
  }
}


.block-add__form-control {
  width: 30px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  background-color: #EDEDED;
  text-align: center;
  padding: 0;
  margin-bottom: 0;
  @include media-breakpoint-up(md){
    font-size: 20px;
  }
}

.product-head__cost {
  font-weight: bold;
  font-size: 30px;
  line-height: 114%;
  margin-left: 30px;
}

.btn-buy {
  border-radius: 48px;
  background-color: #BE0B58;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  font-size: 14px;
  @include media-breakpoint-up(md){
    font-size: 16px;
  }

  .icon {
    width: 30px;
    height: 30px;
    border-color: white;
    fill: white;
    padding: 4px;
    padding-bottom: 0;
    margin-left: 5px;
  }
}

.advantages {
  background-color: #F9F9F9;
  padding-top: 16px;
  padding-bottom: 20px;

  & .icon {
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 0;
    margin-right: 10px;
    fill: black;
  }

  & span {
    width: 60px;
    display: inline-block;
    line-height: 1;
    color: black;
    font-size: 12px;
  }
}

.advantages__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-head__slider-small {
  .product-head__slide {
    max-height: 89px;
    max-width: 89px;
    border: 1px solid #F2F2F2;
    padding: 10px;
  }
}

.product-head__video-link {
  display: flex;
  width: 69px;
  height: 69px;
  align-items: center;
  justify-content: center;

  .icon {
    width: 51px;
    height: 51px;
    border-color: #FFC80A;
    fill: #FFC80A;
    padding: 17px;
  }
}

.product-head__slide--big {
  padding-top: 50px;
}

.product-head__footer {
  text-align: center;
  @include media-breakpoint-up(md){
    margin-right: 80px;
  }
}

.product-head__slider-big {
  margin-bottom: 54px;
  position: relative;
}

.product-head__slider-big-container {
  position: relative;

}
.product-head__slider-big-like {
  display: flex;
  position: absolute;
  top: 20px;
  right: 0;
  flex-direction: column;
  align-items: center;
  color: #6CB13E;
  font-weight: bold;
  font-size: 10px;
  cursor: pointer;
  z-index: 5;
  & .icon-heart{
    width: 29px;
    height: 29px;
    fill: #6CB13E;
    border-radius: 0;
    margin-bottom: 5px;
  }
}


