mixin product-head()
  +b.product-head
    .container
      .row
        .col-12.col-xl-6
          +e.H1.title.d-md-none Matrix Biolage Hydrasource Kit - Набор: шампунь и кондиционер, 2х250 мл
            +e.subtitle.d-md-none Набор: шампунь и кондиционер для сухиз волос
          img(src='img/product/prod-item.jpg' alt='img')



        .col-12.col-xl-6
          +e.H1.title Matrix Biolage Hydrasource Kit - Набор: шампунь и кондиционер, 2х250 мл
          +e.subtitle Набор: шампунь и кондиционер для сухиз волос
          p Корейское жидкое средство для деликатной стирки и нижнего белья с серебром KMPC Nano Silver Step Detergent. Высококачественное суперконцентрированное жидкое средство подходит как для машинной,
            |
            a.reed-more.reed-more--dots(href="#")
              span.reed-more__dot
              span.reed-more__dot
              span.reed-more__dot
          .row.mb-5
            .col-12.col-md-6
              +e.article Артикул:
                span URU09764
              +e.code Штрих код:
                span 1120421133410
              .row
                .col-auto
                  +e.SPAN.rating
                    +stars(4, 9)
                .col-auto
                  +e.bought
                    span.marker.marker--green 25
                    | купили
              .row
                .col-12
                  +category()
            .col-12.col-md-6
              +b.price-block
                +e.row
                  .col-auto.d-flex.flex-grow-1.align-items-center
                    +e.name price
                    +e.BUTTON.action(data-toggle="tooltip" data-placement="top" title="Причина уценки: Дефекты на внешней упаковке товара") уценка
                  +e.cost--old-cost
                      strike 251 Р
                  .col-auto
                    +e.cost--new-cost 650 Р
                +e.row
                  .col-auto.d-flex.flex-grow-1.align-items-center
                    +e.name mini sale
                    +discount(5)
                    +icon('icon-question')
                  .col-auto
                    +e.cost 531 Р
                +e.row
                  .col-auto.d-flex.flex-grow-1.align-items-center
                    +e.name maxi sale
                    +discount(15)
                    +icon('icon-question')
                  .col-auto
                    +e.cost 490 Р
                +e.row
                  .col-auto.d-flex.flex-grow-1
                    +e.name VIP
                    +icon('icon-question')
                  .col-auto
                    +e.A.btn.btn(href='') Узнать цену
                .d-flex
                  +b.block-add
                    .d-flex.flex-grow-1
                      +e.btn--minus
                      +e.INPUT.form-control(type="text" value="10")
                      +e.btn--plus

                    a.btn.btn-buy(href='#') В корзину
                      +icon('icon-basket')
          +advantages()











