mixin line-brand()
  +b.line-brand
    .row
      +e.banner-wrapper.col-12.col-md-6.order-md-2
        +e.IMG.brand-logo.d-md-none(src='img/bioderma.jpg' alt='img')
        +banner('line-info.jpg')
      .col-12.col-md-6.order-md-1
        +e.H1.title Atoderm
        +e.H2.description.text-secondary Линия косметических средств для волос
        +e.text-wrapper
          p Французская косметика Bioderma была создана в 1978 году на базе фармацевтической лаборатории, однако впоследствии компания сменила вектор своего развития, обратив свои научные разработки на решение более узкого спектра проблем. Сейчас Биодерма создает эффективные препараты для лечения и профилактики различных проблем связанных с кожей. В ассортименте марки вы найдете 8 основных линеек для различных типов кожи (в том числе атопичной и страдающей розацеа или дерматитом), а также линейку для волос и кожи головы.
        +e.IMG.brand-logo.d-none.d-md-block(src='img/bioderma.jpg' alt='img')
