mixin cookies()
  +b.cookies
    .container
      +e.P.message Мы используем файлы cookie и сбор персональных данных, чтобы предоставить вам лучший пользовательский сервис и показывать вам индивидуальные предложения на нашем сайте. Продолжая просматривать наш веб-сайт, вы соглашаетесь c использованием cookie и обработкой персональных данных.
        +e.A.link(href='#') Узнать больше
      +e.BUTTON.btn.btn-cloce X
