.form__title{
  font-weight: bold;
  font-size: 20px;
  line-height: 85%;
  margin-bottom: 30px;
  &--checkbox{
    margin-bottom: 49px;
  }
}
.form-wrap{
  margin-bottom: 37px;
  &__input{
   width: 100%;
    margin-bottom: 24px;
    padding-top: 14px;
    padding-bottom: 10px;
    color: #4D4D4D;
    line-height: 1;
  }
  &__label{
    font-size: 14px;
    line-height: 130%;
    font-weight: normal;
    color: #9FA3A7 ;
    margin-bottom: 0;
  }
  &__btn{
    width: 281px;
  }
}
