mixin header()

  // start HEADER.header
  +b.HEADER.header
    block
    +b.header-cat.d-none.d-xl-block
      +e.wrapper.container
        +e.A.link(href='#')
          img(src='img/cat.png' width='183')
  // end HEADER.header
