mixin favorite-products()
  +b.favorite-products
    +e.list
      +e.item
        +e.head
          +e.A.image-link
            +e.IMG.img(src='img/product/product1.jpg' width='102')
          +e.H3.title Alerana
          +e.decoration Бальзам-ополаскиватель для всех типов волос,
            span.font-weight-bold 200 мл
        +e.price-wrapper
          +e.SPAN.price-cost 327 р &nbsp
          +e.SPAN.price-sale Price
          +e.SPAN.price-cost 294 р &nbsp
          +e.SPAN.price-sale mini Sale
          +e.SPAN.price-cost 278 р &nbsp
          +e.SPAN.price-sale maxi Sale
        +e.A.btn.btn.btn-buy(href='#')
          span в корзину
          +icon('icon-basket')
        button.btn-close

      +e.item
        +e.head
          +e.A.image-link
            +e.IMG.img(src='img/product/product2.jpg' width='102')
          +e.H3.title Alan Hadash Murumuru
          +e.decoration Бальзам-ополаскиватель для всех типов волос,
            span.font-weight-bold 200 мл
        +e.price-wrapper
          +e.SPAN.price-cost 327 р &nbsp
          +e.SPAN.price-sale Price
          +e.SPAN.price-cost 294 р &nbsp
          +e.SPAN.price-sale mini Sale
          +e.SPAN.price-cost 278 р &nbsp
          +e.SPAN.price-sale maxi Sale
        +e.A.btn.btn.btn-buy(href='#')
          span в корзину
          +icon('icon-basket')
        button.btn-close

      +e.item
        +e.head
          +e.A.image-link
            +e.IMG.img(src='img/product/product3.jpg' width='102')
          +e.H3.title Alan Hadash Murumuru
          +e.decoration Бальзам-ополаскиватель для всех типов волос,
            span.font-weight-bold 200 мл
        +e.price-wrapper
          +e.SPAN.price-cost 327 р &nbsp
          +e.SPAN.price-sale Price
          +e.SPAN.price-cost 294 р &nbsp
          +e.SPAN.price-sale mini Sale
          +e.SPAN.price-cost 278 р &nbsp
          +e.SPAN.price-sale maxi Sale
        +e.A.btn.btn.btn-buy(href='#')
          span в корзину
          +icon('icon-basket')
        button.btn-close



