mixin about()
  +b.about
    .container
      .row
        .col-12.offset-xl-2.col-xl-8
          .row.about-header
            .col-12.col-md-6.col-xl-3
              h1.success-text-color.font-bold Кто мы?
              h2 Мы не стилисты, не парикмахеры, не визажисты,
                br/ не косметологи!
            .col-12.col-md-6.offset-xl-5.col-xl-4.mt-3.mt-md-0.pl-md-0.pr-md-0
               |
               span.about-quote «Счастье для всех, даром, и пусть никто не уйдет обиженный!»
               p.mt-2.text-black Аркадий и Борис
                |
                br
                | Стругацкие
                br
                | «Пикник на обочине»
          p.mb-2.mb-md-5 НО мы занимаемся online-продажами профессиональной и брендовой косметики с 2009 года. За это время наша команда реализовала несколько успешных проектов в сфере интернет-торговли профессиональной косметикой. На рынке их знают все! И все они отличаются низкими ценами. Когда-то именно мы запустили первый интернет-дискаунтер косметики для волос. Мы ВСЕГДА боролись с завышенными розничными ценами на профессиональную и брендовую косметику и нам ВСЕГДА это удавалось!
            |
            br
            |
            br
            | Мы не хотим поставить 100% накрутку и ждать "своего" единственного покупателя. Мы просто хотим продавать МНОГО хорошей косметики и парфюмерии! И чем больше будет у нас покупателей - тем большие скидки мы получим от поставщиков и дистрибьютеров, а, следовательно, цены для вас станут еще ниже. Такова политика нашего бизнеса. Война высоким ценам в сфере индустрии красоты. А вообще мы бы хотели, чтобы российский покупатель имел возможность покупать свои любимые бренды по тем ценам, по которым их покупают в США и Европе.
          .row.mb-3.mb-md-4
            .col-12.col-md-6
              h2 Мы делаем Вам предложение, от которого невозможно отказаться!
              p Закупочные или близкие к ним цены на самую популярную и востребованную косметику и парфюмерию!
            .col-12.col-md-6
              h2 Мы не сток! Мы не торгуем репликами и товарами с истекшими сроками годности!
              p Нам это не нужно, в этом нет никакого смысла! Сиюминутная прибыль нам не важна. За эти годы нами выстроены взаимоотношения со всеми официальными дистрибьюторами и крупными оптовыми компаниями
          p Вся представленная на сайте продукция
            |
            sapn.font-bold ОРИГИНАЛЬНАЯ &nbsp;
            | и мы гарантируем, что заменим товар или вернем деньги, если Вы обнаружите брак или любые несоответствия.
            |
            br
            |
            br
            | Мы старались собрать все самое, самое. Если полюбившийся бренд не представлен в России – напишите нам. И, возможно, он скоро появится в BDC.
            |
            br
            |
            br
            | Мы создали этот проект, чтобы сделать Вас немного счастливее. Пусть не
            |
            sapn.font-bold ДАРОМ
            | , но будьте уверены, по самой хорошей цене! И пусть никто не уйдет обиженным!
          .row.justify-content-center.mb-3.mb-md-5
            .col-auto
              img(src='img/about-comics.jpg')


