.discount-page {
  padding-bottom: 60px;

  &__title {
    font-size: 2.143em;
    margin-top: 40px;
    margin-bottom: 16px;

    & span {
      color: $success-color
    }
    @include media-breakpoint-down(md){
      font-size: 1.3em;
      margin-top: 35px;
    }
  }

  &__min-sum {
    border: 1px solid #D9D9D9;
    text-align: center;
    padding-top: 26px;
    padding-bottom: 24px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 34px;
    margin-bottom: 53px;
    @include media-breakpoint-down(md){
      margin-top: 25px;
      margin-bottom: 40px;
      font-size: 16px;
    }
  }

  &__level-row {
    margin-bottom: 23px;
    font-size: 16px;
  }

  &__level-discriptoin {
    font-size: 14px;
    color: #9FA3A7;
    display: block;
    margin-top: 12px;
  }

  @include media-breakpoint-up(lg) {
    .container {
      max-width: 930px;
    }
  }
}
