mixin discount-page()
  +b.discount-page
    .container
      +e.H1.title
        |
        span Нашим клиентом
        | может стать КАЖДЫЙ, кто хочет покупать хорошую КОСМЕТИКУ по хорошей ЦЕНE.
      .row
        .col-12.mb-2.mb-md-4
          h2.text-primary.font-weight-bold Если Вы:
        .col-6.col-md.mb-3.mb-md-0
          h2.text-primary.font-weight-bold.mb-3 1
          | любители брендовой косметики, оформляющие заказ вместе с подругами или коллегами по работе
        .col-6.col-md.mb-3.mb-md-0
          h2.text-primary.font-weight-bold.mb-3 2
          | организаторы совместных закупок
        .col-6.col-md.mb-3.mb-md-0
          h2.text-primary.font-weight-bold.mb-3 3
          | начинающие интернет-предприниматели, владеющие небольшими магазинами косметики
        .col-6.col-md.mb-3.mb-md-0
          h2.text-primary.font-weight-bold.mb-3 4
          | салоны красоты и частные мастера
        .col-6.col-md.mb-3.mb-md-0
          h2.text-primary.font-weight-bold.mb-3 5
          | а также все желающие, без ограничений, которые просто хотят сэкономить
      h2.text-primary.font-weight-bold.mt-5 то для Вас мы разработали систему скидок в зависимости от суммы заказа.
      +e.H2.title.mb-4
        |
        span BEAUTY DISCOUNT CENTER
        | предлагает следующие уровни СКИДОК на продукцию:
      +e.level-row.row
        h2.col-12.col-md-4 PRICE* (базовая цена)
        .col-12.col-md-8 если итоговая сумма Вашего заказа составляет
          |
          span.font-weight-bold от 1 т.р. до 3 т.р.
      +e.level-row.row
        h2.col-12.col-md-4 MINI
          |
          span.attention  SALE
        .col-12.col-md-8 если итоговая сумма Вашего заказа составляет
          |
          span.font-weight-bold от 1 т.р. до 3 т.р.
          +e.SPAN.level-discriptoin При этом, доставка по Москве обойдется Вам
            |
            span.font-weight-bold в 99 рублей!
            | Доставка по Санкт-Петербургу и МО всего
            |
            span.font-weight-bold 199 рублей!
            | Доставка по России всего
            span.font-weight-bold 290 рублей!
      +e.level-row.row
        h2.col-12.col-md-4 Maxi
          |
          span.attention  SALE
        .col-12.col-md-8 если итоговая сумма Вашего заказа составляет
          |
          span.font-weight-bold от 7 т.р.
          |
          +e.SPAN.level-discriptoin При этом, доставка по Москве и в регионы осуществляется
            |
            span.font-weight-bold БЕСПЛАТНО
      +e.H2.min-sum *Минимальная сумма заказа -
          |
          span.attention  1000 р.
      +e.H2.title.mb-4
        |
        span BEAUTY DISCOUNT CENTER
        | является официальным партнером брендов, представленных на сайте. Вся продукия сертифицирована, сертификаты могут быть вложены по запросу в Ваш заказ.
      p Производитель на свое усмотрение и без дополнительных уведомлений оставляет за собой право на внесение изменений в  комплектацию, дизайн, страну производства и технические характеристики товара. Во избежание недоразумений проверяйте интересующие Вас свойства товара при его осмотре, перед оплатой и подписанием договора купли-продажи. Вся информация на сайте носит справочный характер и не является публичной офертой.
      +e.H2.title.mb-5.pb-3
        | Все просто –
        span ЧЕМ БОЛЬШЕ ПОКУПАЕТЕ – ТЕМ МЕНЬШЕ ЦЕНА!

      +e.IMG.img(src='img/discount.poster.png')


