.contacts {
  margin-top: 36px;
  font-size: 1rem;
  margin-bottom: 90px;
  @include media-breakpoint-down(md){
    font-size: 0.9rem;
  }

  &__distributors {
    font-weight: bold;
    border: 1px solid #D9D9D9;
    padding: 25px 35px 25px 25px;
    margin-bottom: 30px;
    margin-right: 40px;
  }

  & table {
    max-width: 647px;
    width: 100%;
  }

  & tr {
    border-bottom: 1px solid #9FA3A7;

    &:first-child {
      border-color: black;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  & td {
    padding-top: 15px;
    padding-bottom: 15px;

    &:first-child {
      font-weight: bold;
    }
  }


  &__form-wrap {
    background: #F2F2F2;
    border-radius: 5px;
    padding-top: 34px;
    padding-left: 39px;
    padding-right: 35px;
    padding-bottom: 35px;
    @include media-breakpoint-down(md){
      padding-left: 15px;
      padding-right: 15px;
      padding-right: 20px;
      padding-bottom: 20px;
    }
  }

  &__form-title {
    font-weight: bold;
    font-size: 30px;
    line-height: 100%;
    color: #5CBF1A;
    margin-bottom: 27px;
  }

  &__form-btn {
    width: 281px;
    margin-bottom: 10px;
    @include media-breakpoint-down(lg){
      width: 100%;
    }
  }

  & .custom-checkbox__name {
    font-size: 12px;
    line-height: 130%;
  }

  & textarea {
    min-height: 215px;
  }
  &__form-item--code{
    & label{
      line-height: 1;
    }
    & input{}
  }
}
