include ../mixins/_mixins
mixin reviews()
  +b.reviews
    +e.item
      +b.review
        +e.left-col
          +e.name Витя
            |
            br/ Огородников
          +e.stars
            +star(3)
          +e.date 13.10.2019
        +e.right-col
          p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение  дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение
    +e.item
      +b.review
        +e.left-col
          +e.name Ольга
            |
            br/ Смородникова
          +e.stars
            +star(2)
          +e.date 13.10.2019
        +e.right-col
          p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение  дизайна и композиции читаемый текст мешает
          img(src='/img/product/prod-item2.jpg' width='54' height='54')
          img(src='/img/product/prod-item2.jpg' width='54' height='54')
      +e.answer
        +e.answer-head Администратор Юлия, BDC
        p Ранее меня не особо привлекали хайлайтеры, почему-то я считала это лишним пунктом в макияже. Но в последнее время все изменилось.
    +e.item
      +b.review
        +e.left-col
          +e.name Алгы
            |
            br/  Масагамедова
          +e.stars
            +star(2)
          +e.date 13.10.2019
        +e.right-col
          p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение  дизайна и композиции читаемый текст мешает сосредоточДавно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное запо



