include ../../blocks/mixins/_mixins.pug
include ../../blocks/nav-search/nav-search.pug

mixin mob-mnu()
	+b.mobile-menu
		.container
			+e.wrapper
				.row.align-items-center.justify-content-between
					.col-auto
						+e.H2.title меню
					.col-auto
						button.toggle-menu.toggle-menu--menu-open
							span
					.col-12
						nav
							+e.UL.list
								+e.LI.item
									+e.A.link(href="#") Бренды
								+e.LI.item
									+e.A.link(href="#") О нас
								+e.LI.item
									+e.A.link(href="#") Как покупать
								+e.LI.item
									+e.A.link(href="#") Новинки
								+e.LI.item
									+e.A.link(href="#") Доставка и оплата
								+e.LI.item
									+e.A.link(href="#") Контакты
								+e.LI.item--active
									+e.A.link(href="#") Распродажа
								+e.LI.item
									+e.A.link(href="#") Опт
				.row.mb-4
					.col-6
							+e.A.logo(href="#")
								img(src="img/header-logo.png", alt="logo" width='96')
					.col-6
						+b.tel-block
							+e.item
								+e.A.tel(href='tel:+78007754636') 8 (800) 775-46-36
								+e.description.mb-0 Звонок бесплатный
							+e.item
								+e.A.tel(href='tel:+74996455365') 8 (499) 645-53-65
				.row
					.col-6
						+b.soc
							+soc('icon-fb')
							+soc('icon-instagram')
							+soc('icon-vk')
					.col-6.mt-1
						.row.justify-content-end
							.col-auto.pr-1.pr-md-3
								+e.A.user
									.row
										.col-auto.pr-md-1
											+icon('icon-user')
							.col-auto.pl-1.pr-1.pl-md-3.pr-md-2
								+e.A.favourites
									+icon('icon-heart')
							.col-auto.pl-1.pl-md-3
								+e.A.basket
									+icon('icon-basket')

	//  мобильное меню


mixin top-nav()
	+b.top-nav
		.container
			.row.justify-content-between
				.col-6.d-lg-none.d-flex
					button.toggle-menu
						span
					+e.BUTTON.catalog-btn.btn каталог
				.col-6.col-lg-8.d-none.d-lg-block
					+e.UL.nav
						+e.LI.item
							+e.A.link(href="#") Бренды
						+e.LI.item
							+e.A.link(href="#") О нас
						+e.LI.item
							+e.A.link(href="#") Как покупать
						+e.LI.item
							+e.A.link(href="#") Новинки
						+e.LI.item
							+e.A.link(href="#") Доставка и оплата
						+e.LI.item
							+e.A.link(href="#") Контакты
						+e.LI.item--active
							+e.A.link(href="#") Распродажа
						+e.LI.item
							+e.A.link(href="#") Опт
				.col-6.col-lg-4
					.row.justify-content-end
						.col-auto.pr-1.pr-md-3
							+e.A.user
								.row
									.col-auto.pr-md-1
										+icon('icon-user')
									.col.d-none.d-md-block.pl-1.pr-xl-4.mr-1.ml-1 Ольга В.
						.col-auto.pl-1.pr-1.pl-md-3.pr-md-2
							+e.A.favourites
								+icon('icon-heart')
								+e.SPAN.favourites-number 10
						.col-auto.pl-1.pl-md-3
							+e.A.basket
								+icon('icon-basket')
								+e.basket-price.d-none.d-md-block 18 560 р.
			.row.align-items-center
				.col-6.col-md-auto.order-2.order-md-0
					+e.A.logo(href='/')
						img(src='img/header-logo.png' alt='logo' width='122')
				.col-2.d-none.d-lg-block
					+e.text Более 70 000 товаров по закупочным ценам! Всем и каждому!
				.col-12.col-md.order-1.order-md-0
					+nav-search()

				.col-auto.d-none.d-md-block
					+b.soc.pr-xl-3
						+soc('icon-fb')
						+soc('icon-instagram')
						+soc('icon-vk')

				.col-6.col-md-auto.order-3.order-md-0
					+b.tel-block
						+e.item
							+e.A.tel(href='tel:+78007754636') 8 (800) 775-46-36
							+e.description Звонок бесплатный
						+e.item
							+e.A.tel(href='tel:+74996455365') 8 (499) 645-53-65
							+e.description Для Москвы и МО






