.big-slider {
  position: relative;
}

.big-slider__btn {
  position: absolute;
  bottom: 50px;
  left: 50px;
  color: $text-color;
  background: #FFFFFF;
  border-radius: 2px;
  padding: 8px 17px;
  font-weight: bold;
}

.brand-slider{
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
  & .slick-track{
    display: flex;
    align-items: center;
  }
}

.btn-prev,
.btn-next{
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  background: #FFFFFF;
  position: absolute;
  top: 50px;
  transform: translateY(-50%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  @include media-breakpoint-up(md) {
    width: 40px;
    height: 40px;
  }
}

.brand-slider__btn-prev{
  left: -10px;
}

.brand-slider__btn-next{
  right: 0;
}
