mixin delivery()
	+b.delivery
		+e.header
			.container
				.row
					.col-12.col-xxl-7.offset-xxl-2
						.row
							.col-auto
								h2.mt-4 доставка в Города РОССИЙСКОЙ ФЕДЕРАЦИИ
							.col-12
								.row
									form
									.col-12.col-md-7
										.row
											.col-12
												.form-item.form-item--select
													label Регион
													select
														option(checked) Кемеровская область
														option Кемеровская область
														option Кемеровская область
														option Кемеровская область
											.col-12
												.form-item.form-item--select
													label Город
													select
														option(checked) Кемерово
														option Кемерово
														option Кемерово
														option Кемерово
									.col-12.col-md-5
										.row
											+e.choice.col-12 Доступные варианты доставки
											.col-12
												+b.LABEL.custom-checkbox(for='1')
													+e.INPUT.input(type='checkbox' checked id='1')
													+e.SPAN.name Курьер
											.col-12
												+b.LABEL.custom-checkbox(for='2')
													+e.INPUT.input(type='checkbox' checked id='2')
													+e.SPAN.name Пункты выдачи заказов
											.col-12
												+b.LABEL.custom-checkbox(for='3')
													+e.INPUT.input(type='checkbox' checked id='3')
													+e.SPAN.name Почта
									.col-12
										+e.map
											+e.map-title Пункты выдачи заказов
											<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A476484583bdd18e076cf88ce307d0c15d3fb042e40b0aeefdfd21106ec097eae&amp;width=100%&amp;height=221&amp;lang=ru_RU&amp;scroll=true"></script>
									+e.addres.col-12 г. Кемерово, ул. Грегори 25а
									.col-12
										+e.TABLE.map-table
											tr
												th График работы
												th Телефон
												th Срок доставки
												th Стоимость
											tr
												td пн-пт:10.00-19.00,
													bt
													|	сб:10.00-16.00,
													br
													| обед:12.00-13.00
												td 8-800-222-80-00
												td от 5 до  7 рабочих
												td 290 р
									.col-12
										p.footnote Остановка: СКК Октя брьский. Примерное расстояние от остановки до Отделения - 200 метров. Торговый Центр "Спутник" Крупные вывески - Спутник Расположение входа в отделение - Центральный вход. 2 этаж. Бутик "Ах эти шторы".
										p.footnote Доставка в Пункт выдачи заказа осуществляется компанией Boxberry. Отследить состояние заказа Вы можете на сайте www.boxberry.ru Внесите номер вашего заказа в графу "Номер вашего отправления". Хранение товара осуществляется в течение 7 календарных дней. Оплата заказа осуществляется по наличному расчету при получении. Выдается кассовый чек. Предоплаченные заказы выдаются только по предъявлению удостоверения личности.

		.container
			.row
				.col-12.col-xxl-7.offset-xxl-2
					.h2.success.mt-5.mb-4 Как получить? Как оплатить?
					.font-weight-bold.mb-3  Ваш заказ может быть подтвержден одним и приведенных ниже способов:
					.mb-3 1. Звонок оператора на указанный Вами номер телефона (для заказов, требующих дополнительного уточнения информации)
					.mb-3 2. Без предварительного звонка. Вы получите письмо-уведомление с темой "Отгрузка заказа №, дата" на Вашу электронную почту.
					.mb-3 Если Bы сделали заказ в будний день до 16.00, то Ваш заказ поступает в обработку в тот же день.
					.mb-3 Если Вы сделали заказ после 16.00 или в выходной/праздничный день, Ваш заказ поступит в обработку на следующий рабочий день.

					+e.TABLE.table
						tr
							th.text-left Регион
							th(colspan='2') Стоимость доставки
							th Время доставки
							th Обработка заказа
						tr
							td
							td
								+e.sale MINI
									span SALE
							td
								+e.sale MAXI
									span SALE
							td
							td
						tr
							td

								+e.city Москва
								+e.area в пределах МКАД
							td
								+e.mini-sale
									+e.sale MINI
										span  SALE
								| 99 р
							td.success-text-color
								+e.maxi-sale
									+e.sale MAXI
										span  SALE
								| БЕСПЛАТНО
							td
								+e.time Время доставки
								| пн-сб
								br
								|  с 9.00 до 21.00
							td
								+e.processing Обработка заказа
								| 2 рабочих дня*
						tr
							td

								+e.city М.О.
								+e.area до 30 км от МКАД
							td
								+e.mini-sale
									+e.sale MINI
										span  SALE
								|	199 р
							td.success-text-color
								+e.maxi-sale
									+e.sale MAXI
										span  SALE
								| БЕСПЛАТНО
							td
								+e.time Время доставки
								| пн-сб
								br
								|  с 10.00 до 18.00
							td
								+e.processing Обработка заказа
								| 2 рабочих дня*
						tr
							td
								+e.city Санкт-Петербург*
							td
								+e.mini-sale
									+e.sale MINI
										span SALE
								|	199 р
							td.success-text-color
								+e.maxi-sale
									+e.sale MAXI
										span  SALE
								| БЕСПЛАТНО
							td
								+e.time Время доставки
								+e.empty -
							td
								+e.processing Обработка заказа
								| 2 рабочих дня*
						tr
							td

								+e.city Вся Россия
								+e.area в т.ч. Крым
							td
								+e.mini-sale
									+e.sale MINI
										span SALE
								|	290 р
							td.success-text-color
								+e.maxi-sale
									+e.sale MAXI
										span  SALE
								| БЕСПЛАТНО
							td
								+e.time Время доставки
								+e.empty -
							td
								+e.processing Обработка заказа
								| 2 рабочих дня*
						tr
							td

								+e.city Беларусь
								+e.area (г. Минск) - 100% предоплата
							td
								+e.mini-sale
									+e.sale MINI
										span SALE
								|	400 р
							td.success-text-color
								+e.maxi-sale
									+e.sale MAXI
										span  SALE
								| БЕСПЛАТНО
							td
								+e.time Время доставки
								+e.empty -
							td
								+e.processing Обработка заказа
								| 2 рабочих дня*
						tr
							td

								+e.city Казахстан
								+e.area 100% предоплата
							td
								+e.mini-sale
									+e.sale MINI
										span SALE
								|	400 р
							td.success-text-color
								+e.maxi-sale
									+e.sale MAXI
										span  SALE
								| БЕСПЛАТНО
							td
								+e.time Время доставки
								+e.empty -
							td
								+e.processing Обработка заказа
								| 2 рабочих дня*

					//+e.table2
					//	.row



					p.footnote * БЕЗ ПРЕДОПЛАТЫ! (заказ отправляется наложенным платежом с оплатой при получении)
					p.footnote ВНИМАНИЕ! В 95% случаев мы укладываемся в фиксированный тариф 290 рублей. Однако, для крупногабаритных, тяжеловесных заказов, а также для заказов из удаленных субъектов РФ, стоимость доставки может быть скорректирована. В этом случае изменения будут с Вами обязательно согласованы.
					p.footnote ВНИМАНИЕ! В связи с погодными условиями в зимний период мы не можем исключить случаев замерзания продукции при доставке/транспортировке. Мы не несем ответственность за услуги доставки/транспортировки, оказываемые третьими лицами.

				.col-12.col-md-8.offset-md-2
					+e.oitline Обращаем внимание:
						br
						span.font-weight-bold Минимальная сумма заказа - 1000 рублей.
						br
						span.font-weight-bold Заказы на сумму свыше 15000 рублей отгружаются по предоплате!

				.col-12.col-lg-7.offset-lg-2
					.h2.success-text-color.mt-5.mb-4 ОПЛАТА:
					p Мы предлагаем следующие виды оплаты:
					p
						+e.SPAN.circle
						| наличными и/или банковскими картами (при доставке курьером, при получении в пункте выдачи);
					p
						+e.SPAN.circle
						| онлайн-оплата на сайте* - c помощью сервиса безопасной оплаты IntellectMoney;
					p.footnote *Дополнительные комиссии при оплате онлайн не взимаются.

					h2 Регламент перевода на предоплату.
					p Клиент автоматически переводится сайтом на предоплату (оформление заказов возможно с предварительной оплатой онлайн на сайте):
					p
						+e.SPAN.circle
						| при оформлении заказа клиентом впервые в нашем интернет-магазине и возникновении ситуации по возврату этого заказа, при условии его надлежащего качества;
					p
						+e.SPAN.circle
						| после возникновения двух случаев возврата заказов надлежащего качества в истории клиента;
					p Данное ограничение может сохраняться до улучшения истории выкупов заказов надлежащего качества - два выкупленных заказа подряд, осуществленных с предварительной оплатой онлайн на сайте;
					p
						+e.SPAN.circle
						| после возникновения третьего возврата заказа надлежащего качества в истории клиента.
					p Данное ограничение закрепляется на постоянной основе за клиентом.
						br
						| В индивидуальном порядке может быть рассмотрено снятие ограничения при наличии не менее пяти выкупленных заказов с предварительной оплатой онлайн на сайте.

					h2 Возврат/обмен парфюмерно-косметических средств
					p Парфюмерно-косметические товары входят в перечень непродовольственных товаров утвержденный Постановлением Правительства РФ № 55 от 19.01.08 г., не подлежащих возврату или обмену:
					p п. 2. Предметы личной гигиены (зубные щетки, расчески, заколки, бигуди для волос, парики, шиньоны и другие аналогичные товары).
					p п. 3. парфюмерно-косметические средства.
					p п. 5 швейные и трикотажные изделия
					p и т.д.
					p По ст. 18 З-на "О защите прав потребителей" право Покупателя на возврат уплаченных за товар денежных средств, обмен товара, ремонт подлежат удовлетворению только в случаях наличия в товаре недостатков, возникших по вине продавца/производителя.
					p Для того, чтобы вернуть/обменять товар ненадлежащего качества (целостность упаковки которого нарушена в процессе доставки, брак производителя…) уже после его оплаты, вам необходимо связаться с менеджером магазина, написав на почту client@beautydiscount.ru в течение 30 дней с момента получения заказа. В письме укажите:
					p  • номера заказа
						br
						| • описанием сути проблемы
						br
						|  • фото для подтверждения наличия проблемы
					p После рассмотрения вашего обращения, наш сотрудник свяжется с Вами и согласует дальнейшие действия для решения данного вопроса.
					p.font-weight-bold По Москве и Московской области
					p При принятии решения об обмене товара, мы направим к вам курьера, который заберет заказ/товар и передаст вам новый товар надлежащего качества.
					p При принятии решения о возврате денежных средств вам необходимо будет отправить на эл. адрес client@beautydiscount.ru письмо с темой «Возврат ДС» и следующей информацией:

					p 1. Номер заказа
						br
						|  2. Сумма заказа
						br
						| 3. ФИО клиента оформлявшего заказ, полностью
						br
						|  4. Распечатку из банка с реквизитами клиента или образец платежного поручения из банка с реквизитами получателя для возврата денежных средств (в котором указано Наименование банка, БИК банка, Номер лицевого счета и т.п.)
						br
						| 5. Обращаем ваше внимание, что лицевой счет должен быть рублевый и не быть зарплатным проектом.
					p.font-weight-bold Обращаем ваше внимание, что срок возврата денежных средств зависит от вашего банка и может занимать до 30 календарных дней.
					p Далее мы направим к вам курьера, который заберет заказ/товар.
					p.font-weight-bold По России
					p При принятии решения об обмене /возврате товара, вам необходимо будет отправить товар ненадлежащего качества Почтой России на адрес: 24498, г.Москва, г.Зеленоград, Георгиевский проспект, дом 5, оплатив при этом доставку.
					p После отправки товара необходимо прислать на электронный адрес client@beautydiscount.ru скан или фото квитанции с номером почтового отправления и суммой пересылки, после чего мы вернем вам денежные средства за доставку товара на наш адрес и согласуем доставку нового товара.
					p При принятии решения о возврате денежных средств вам необходимо будет отправить на эл. адрес client@beautydiscount.ru письмо с темой «возврат ДС» и следующей информацией:

					p 1. Номер заказа
						br
						|  2. Сумма заказа
						br
						|  3. ФИО клиента оформлявшего заказ, полностью
						br
						|  4. Распечатку из банка с реквизитами клиента или образец платежного поручения из банка с реквизитами получателя для возврата денежных средств (в котором указано наименование банка, БИК банка, Номер лицевого счета и т.п.)
						br
						|  5. Обращаем ваше внимание, что лицевой счет должен быть рублевый и не быть зарплатным проектом.
					p  Обращаем ваше внимание, что срок возврата денежных средств зависит от вашего банка и может занимать до 30 календарных дней.
					h2 Правила возврата/обмена иных категорий товаров (аппаратная косметология)
					p На основании постановлений Правительства РФ от 20.10.1998 N 1222, от 06.02.2002 N 81, от 19.09.2015 N 994.
						br
						|	Товары аппаратной косметологии не подлежат возврату или обмену на аналогичный товар других размера, формы, габарита, фасона, расцветки или комплектации. А также на них не распространяется требование покупателя о безвозмездном предоставлении ему на период ремонта или замены аналогичного товара.
					p 1. Товары для профилактики и лечения заболеваний в домашних условиях (предметы санитарии и гигиены из металла, резины, текстиля и других материалов, инструменты, приборы и аппаратура медицинские, средства гигиены полости рта, линзы очковые, предметы по уходу за детьми), лекарственные препараты (в ред. Постановления Правительства РФ от 20.10.1998 N 1222)
					p 2. Технически сложные товары бытового назначения, на которые установлены гарантийные сроки (станки металлорежущие и деревообрабатывающие бытовые; электробытовые машины и приборы; бытовая радиоэлектронная аппаратура; бытовая вычислительная и множительная техника; фото- и киноаппаратура; телефонные аппараты и факсимильная аппаратура; электромузыкальные инструменты; игрушки электронные, бытовое газовое оборудование и устройства) (в ред. Постановлений Правительства РФ от 20.10.1998 N 1222, от 06.02.2002 N 81)
					p Такие товары подлежат гарантийному обслуживанию от производителя.
						br
						| Ремонт или возврат д/с за технически сложный товар осуществляется только после прохождения проверки в сервисном центре производителя. Проверка качества проводится в сроки, предусмотренные действующим Законодательством.
					p При обнаружении брака производителя или возникновении поломки прибора в течении гарантийного срока, вам необходимо обратится в сервисный центр производителя, телефон и адрес которого указан в гарантийном талоне, вы найдете его внутри упаковки товара.
					p Если вы проживаете в Москве, то вы можете, самостоятельно обратится в сервисный центр, после проверки  и установления причин поломки:
					p 1. при установлении неисправности подлежащей ремонту - сервисный центр произведет ремонтные работы
					p 2. при установлении производственного брака не подлежащего ремонту - вам будет предложен возврат д/c (для этого необходимо предоставить скан заключения из сервисного центра на почту . После получения письма наш сотрудник свяжется с Вами).
					p Если вы проживаете в другом регионе России, то вы можете обратиться к нам, написав письмо на почту client@beautydiscount.ru с указанием:
					p.pl-3 номера заказа
					p.pl-3 описанием сути проблемы
					p.pl-3 фото для подтверждения наличия проблемы
					p.mt-5 После рассмотрения Вашего обращения наш сотрудник свяжется с Вами и согласует дальнейшие действия для решения данного вопроса.
					p Вам необходимо будет отправить товар Почтой России на адрес: 124498, г.Москва, г.Зеленоград, Георгиевский проспект, дом 5, ООО "Фармкосметик" оплатив при этом доставку.
					p После получения товара мы направим его в сервисный центр, после проверки  и установления причин поломки:
					p 1. при установлении неисправности подлежащей ремонту - сервисный центр произведет ремонтные работы и мы свяжемся с вами и вернем отремонтированный прибор
					p 2. при установлении производственного брака не подлежащего ремонту - вам будет предложен возврат д/c (для согласования с Вами свяжется наш сотрудник).
					p Правила упаковки возврата товара Почтой России для предотвращения механического повреждения:
					p 1. товар должен быть возвращен в оригинальной заводской упаковке, не имеющей надписей, следов оклеивания скотчем и прочих нарушений ее внешнего вида с гарантийным талоном.
					p 2. так как пересылка товара осуществляется путем периодической погрузки-выгрузки товара на так называемых сортировочных пунктах, для сохранения внешнего вида и потребительских свойств товара просим вас дополнительно упаковать коробку товара во внешнюю упаковку (коробку большего размера), и заполнить внутреннее свободное пространство.
						br
						| Обращаем Ваше внимание: наша компания не несет ответственности за механические повреждения товара при пересылки Почтой РФ.
					h2 Отказ от получения заказа в пункте выдачи заказов или у курьера
					p При получении заказа, внимательно осматривайте посылку в присутствии курьера или в пункте выдачи заказов на предмет нарушения целостности внешней упаковки, повреждений и т. д.
					p  Обращаем ваше внимание! В связи с погодными условиями в России зимой некоторый товар может замерзнуть при доставке/транспортировке. Логистические компании доставляют заказы из Москвы в ваш регион наземным, неотапливаемым транспортом. Просим вас оценивать температуру в вашем регионе перед оформлением заказа!
					p Если, после оплаты и получения заказа, вы обнаружили несоответствие (пересорт, недовложение, брак…), то вам необходимо связаться с менеджером магазина по почте client@beautydiscount.ru в течение 7 дней с момента получения заказа. В письме укажите:
					p • номер заказа;
						br
						| • описание сути проблемы;
						br
						| • фото для подтверждения наличия проблемы
					p После рассмотрения вашего обращения наш сотрудник свяжется с вами и согласует дальнейшие действия для решения вопроса
					p Курьерские службы - сторонние организации и, при возникновении вопросов по содержанию/вложению/качеству товара, вам необходимо обращаться непосредственно в Интернет-магазин.
					p Все претензии наших клиентов рассматриваются в индивидуальном порядке, мы стараемся найти решение/ответ по каждому вопросу
					p Обращаем ваше внимание, что вы в праве отказаться от заказа надлежащего качества, только при условии возмещения расходов, понесенных в связи с совершением действий по доставке заказа (Ст. 497 п.3. ГК РФ).
					p Если оплата произведена онлайн предварительно на сайте, то, в случае отказа от заказа надлежащего качества, возврат д/c осуществляется за минусом стоимости расходов по его доставке.
					+e.img-wrapper
						+e.IMG.img(src='img/delivery-img.jpg')










